.container{
  width: 70%;
  margin: auto;
  margin-top: 2%;
  text-align: center;
}

th{
  padding: 10px;
}

img{
  width: 40px;
  height: auto;
}
body{
  /*background-image: url(./media/fog.jpg);*/
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: background-image 1s;
  height: 100vh;
  background-attachment: fixed;
  
}
#info:nth-child(1){
  display: none;
}